*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
}

.picture {
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 5px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}



.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.logos-slide img {
  height: 200px;
  width: auto;
  margin-left: 20px;
  border-radius: 14px;
  object-fit: contain;
}
