body {
    padding: 1rem;
}

.spacer {
    height: 3rem;
}

.bibbase_amazon {
    display: none;
}

.bibbase_paper_title a{ 
	pointer-events: none;
}

#bibbase_header a[href*="javascript:groupby('downloads')"] { display: none; }
